
<header class="site_border">

  <div class="logo_nav_top">
    <img src="https://s3.amazonaws.com/siteassets.etsy.com/press/Website/etsy-logo.png"/>
  </div>
  <div class="form_container">
      <div class="form_container_inner">
        <div class="text_field">
        </div>
        <div class="submit">
        </div>
      </div>
  </div>

  <ul>
    <li>Home</li>
    <li>Favorites</li>
    <li>Cart</li>
  </ul>

</header>

<div class = "content">
  <div class = "side_nav"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
  <div class = "listing"></div><div class = "listing"></div><div class = "listing"></div>
</div>


<footer class="site_border"></footer>
