/*

* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}

*/

body {
  background: #F5F5F1;
  font-family: "Graphik Web","Arial","Helvetica",sans-serif;
}

.site-border {
  background-color: #FFFFFF;
  width: 100%;
  margin-left: -10px;
  padding: 0px 25px;
}

header {
  position: relative;
  height: 80px;
  margin-top: -10px;
  border-bottom: 0px;
  box-shadow: 0px 1px 4px
  rgba(0, 0, 0, 0.1),0 0 0 1px rgba(0, 0, 0, 0.05);
}
.logo-nav-top {
  float: left;
  width: 100px;
  margin-right: 20px;
  height: 60px
}

div img {
  width: 100%;
}

.card {
  border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #E1E3DF;
    border-bottom-color: #CBCCC9;
    display: inline-block;
    /*max-width: 240px;*/
    position: relative;
    /*width: 100%;*/
}
.listing-details {
    margin: 6px;
}

.listing-desc {
  color: #444;
    font-size: 12px;
    margin-bottom: 3px;
   width: 250px;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
}

td {
  width: 214px;
  height: 170px;
  padding: 9px;
}
.form-container {
  position: relative;
  float: left;
  height: 100%;
  width:35%;
}

.form-container-inner {
  position: absolute;
  height: 34px;
  width:342px;
  margin-top: -17px;
  top: 50%
}
.text-field-wrapper {
  white-space: nowrap;
  display: table-cell;
  vertical-align: top;
  width: 100%;
}

.text-field {
  width:260px;
  height: 34px;
  position: relative;
  border: 1px solid #CFCBC8;
  background: #f9f9f8;
  border-radius: 3px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 6px 10px;
  font-size: 14px;
  font-family: Arial,Helvetica,sans-serif;
  box-sizing: border-box;
  box-shadow: inset 0 1px 2px #E9E9E8,0 0 0 1000px #fbfbfa inset;
}

.text-field:focus {
  outline: none;
  border: 1px solid #34A8C4;
  background: #FFF;
  box-shadow: 0 0 0 1000px #fff inset;
}

.submit-wrapper {
  position: absolute;
  top: 0px;
  right: 0px;
}
.submit-button {
  line-height: 17px;
  width: 82px;
  height: 34px;
  font-family: Arial,Helvetica,sans-serif;
  padding: 7px 15px 8px;
  border: 1px solid;
  border-radius: 3px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-color: #54acc7 #4ca0ba #398a9d;
  background: -webkit-linear-gradient(top, #98d0e0 2%, #68b8d1 8%, #4fa9c6 58%, #4fa9c6 95%, #4ca4c0);
  display: inline-block;
  color: #FFF;
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);


}
header ul {
  height: 80px;
  float: right;
  padding-right: 20px;
  margin-top: 0px;
}

header ul li {
  float: left;
  position: relative;
  list-style: none;
  border: 0 none;
  padding: 10px;
  margin-top:20px;
  color: #666666;
}

header ul li.home img {
  height:32px;
  width: 32px;
}
.content {
  margin: 0 auto;
  width: 980px;
  padding: 25px;
}

.listing {
  background: #fff;
  position: relative;
  left: 240px;
  border: 1px solid #ececec;
  border-radius: 3px;
  margin-bottom: 18px;
  margin-right: 28px;
  height: 220px;
  width: 224px;
  display: inline-block;
}

.side-nav {
  background-color: #FFFFFF;
  width: 224;
  margin-right: 28px;
  margin-left: -10px;
  float: left;
  padding: 25px 0px;
  position: absolute;
  height: 50px;
}

.card-price {
  color: #78c042;
  padding-left: 4px;
  float: right;
  font-size: 12px;
}
.card-shop-name {
  color: #9A9A9A;
  padding-left: 0px;
  display: inline;
  font-size: 12px;
}

footer {
  position: absolute;
  height: 50px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require-tree .
 *= require-self
 */
